# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
MeterMan
lcd/utils/rotate/rotate
lcd/utils/sample/sample
lcd/utils/scandump/scandump
lcd/utils/calibrate/calibrate
utils/readtemp/readtemp
utils/smaping/smaping

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
