[Unit]
Description=MeterMan server
After=network.target

[Service]
User=meter
Group=meter
UMask=0002
Type=simple
TimeoutStopSec=10
ExecStart=/usr/local/bin/MeterMan --savebad

Restart=on-failure
RestartSec=15s
SuccessExitStatus=SIGKILL

[Install]
WantedBy=default.target
